.body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*** Estilos del footer ***/

.containerfooter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    height: fit-content;
    margin: 0;
    padding: 0
}
.Parrafofooter {
    display: flex;
    color: #57ACD0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
.Parrafofooter >p {
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1rem
}
@media screen and (width > 768px) {
    .Parrafofooter >p {
        font-size: 1.5rem
    }
}


/*** Estilos del Contacto ***/

.containerContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content
}
.containerContacto > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%
}
.containerContacto>Image {
    margin: 0;
    padding: 0
}
.Face, .whatsapp, .Map {
    display: flex;
    flex-direction: column;
    color: #57ACD0
}
.Face,
.whatsapp,
.Map > p {
  align-items: center;
  text-align: center
}
@media screen and (width > 768px) {
    .containerContacto>div {
        flex-direction: row;
        column-gap: 0.5rem;
    }
    .Face,
    .whatsapp,
    .Map {
     margin: 0;
     padding: 0;
    }
}   


/*------------------------------------------*/
/*** Estilos del Nav ***/
.nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30%;
    justify-content: space-around
}
.nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.header {
    background-color: black;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 25%
}
@media screen and (width < 768px) {
    .nav, .Loguin, .Registrarme {
        display: none;
    }
}
@media screen and (width >= 768px) {
    .Burguer{
        display: none;
    }
}
.containerLogo {
    width: 40%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
    
} 
/* .logo{
    justify-content: center;
    align-items: center;
} */




/*-----------------------------------------------------------*/
/****  Estilos Home  *****/

.main {
    width: 100%;
    height: 70vh;
    background-color: #D98504;
    margin: 0;
    padding: 0;
    position: relative;
}
.main > Image {
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------*/
/****Estilos Baner****/
.banner {
    width: 100%;
    height:6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D98504;
}   
    
.banner > p {text-align: center;
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
} 

/*--------------------------------------------------------*/
/****Estilos de la pagina del Buho****/

.maindebuho {
background-color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 80vh;
}

.parrafo1buho {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.parrafo2buho {
    color: #D98504; 
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
    
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*-----------------------------------------------------------*/

/*********Estilos del Buho*********/
/****Basedebuho*****/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    line-height: 1.15;
    background-color: var(--background-site);
    font-size: 62.5%;
    font-family: Inter, 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
}*/

/**,
*::before,
*::after {
    box-sizing: inherit;
}*/

/*body {
    background-color: var(--background-site);
    color: var(--text-high-contrast);
    font-size: 1.6rem;
    line-height: 1.65;
}*/

.theme-light {
    --brand-primary: rgb(47, 112, 193);
    --brand-secondary: rgb(116, 97, 195);
    --brand-alternative: rgb(19, 120, 134);
    --background-site: rgb(249, 249, 249);
    --background-code: rgb(244, 244, 244);
    --text-body: rgb(54, 49, 61);
    --text-comment: rgb(99, 94, 105);
    --text-high-contrast: rgb(49, 49, 49);
    --text-medium-contrast: rgb(99, 94, 105);
    --text-low-contrast: rgb(116, 109, 118);
    --detail-high-contrast: rgb(192, 192, 192);
    --detail-medium-contrast: rgb(234, 234, 234);
    --detail-low-contrast: rgb(240, 240, 242);
    --admonition-note: rgb(46, 109, 188);
    --admonition-warning: rgb(255, 196, 9);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 47, 112, 193;
    --brand-secondary-rgb-value: 116, 97, 195;
    --brand-alternative-rgb-value: 19, 120, 134;
    --background-site-rgb-value: 249, 249, 249;
    --background-code-rgb-value: 244, 244, 244;
    --text-body-rgb-value: 54, 49, 61;
    --text-comment-rgb-value: 99, 94, 105;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-medium-contrast-rgb-value: 99, 94, 105;
    --text-low-contrast-rgb-value: 116, 109, 118;
    --detail-high-contrast-rgb-value: 192, 192, 192;
    --detail-medium-contrast-rgb-value: 234, 234, 234;
    --detail-low-contrast-rgb-value: 240, 240, 242;
    --admonition-note-rgb-value: 46, 109, 188;
    --admonition-warning-rgb-value: 255, 196, 9;
    --admonition-danger-rgb-value: 220, 38, 38;
}

.theme-dark {
    --brand-primary: rgb(138, 180, 248);
    --brand-secondary: rgb(193, 168, 226);
    --brand-alternative: rgb(136, 186, 191);
    --background-site: rgb(0, 0, 0);
    --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
}


/***************Embla****************/

.embla {
    width: 100%;
    height: fit-content;
    margin: auto;
    border: #D98504 solid 2px;
    overflow: hidden;
    /*--slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;*/
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 30%;
    
    
}

.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
}
.Buho {
    width: 90vw;
}

/*---------------------------------------------------*/
/****Estilos de nosotrospage****/

.nosotros {
    background-color: #D98504;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100;
    height: 80vh;
}

.nosotros h2 {
    
    font-size: 3rem;
    margin-bottom: 20px;
}
.nosotros p {
    font-size: 1.5rem;
}
